  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th> average </th>
      </tr>
    </thead>

    <tbody>
      <% given.each do |b| %>
        <tr>
          <td><%= link_to b.name, b %></td>
          <td><%= b.average_rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 